<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href= "/stylesheets/search.css">
<script src="/client.js"></script>
<title>Main Page</title>
</head>
<body>
  <div class="container">

    <div class="search-box">
      <input type="text" name="" class="search-txt" placeholder="Search..."/>
      <a class="search-btn" href = "#"></a>
    </div>

  <font color = #ffffff >
  <h1> Hello User!</h1>

  <p class="alignment">
              <span>
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                  &emsp;&emsp;&emsp;&emsp;&emsp;

                  Would you like to add a new product?
              </span>
          </p>

          <h3>Today's Date: <span id="datetime"></span></h3>
          <script>
              var dt = new Date();
              document.getElementById("datetime").innerHTML = dt.toLocaleString();</script>

<!--Mirals changes for sort by function-->

  </table>
  <h2>Here's what is in your fridge: </h2>
  <table  border = 2 style="width:50%">
    <tr>
      <th>Products</th>
      <th>Type</th>
      <th> Date of Expiry <br>
      <label for="expiry-date">
        <select id= "expirysort" class = "sortbyexpiry" onchange = "sortbyExpiry()">
          <option value = "">Sort by</option>
        <option value = "ASC">Soonest Expiry Date</option>
        <option value = "DESC">Latest Expiry Date</option>
        </th>
      <th>Quantity</th>
    </tr>
    <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.prod_name%></td>
        <td><%= r.type%></td>
        <td><%= r.exp_dt.toLocaleString()%></td>
        <td><%= r.qty%></td>
      </tr>
    <% }); %>
  </table>
<br>

  <button type="button" class="button">Find out what's expiring soon -></button>

  <h2>Add Products to the Fridge</h2>

    <label for="name">Product Name:</label>
    <select name="addProduct" id="addProduct">
        <option value="peaches">Peach</option>
        <option value="muffins">Muffin</option>
        <option value="oranges">Orange</option>
        <option value="eggs">Egg</option>
        <option value="bacon">Bacon</option>
        <option value="butter">Butter</option>
        <option value="celery">Celery</option>
    </select>
    <br>
    <label for="name">Quantity</label>
    <input type="number" id="quantity"/>
    <br>
    <button onclick="addProduct()">Add to Fridge</button>

    <br>
    <br>

    <h2>Remove Products from the Fridge</h2>

    <label for="name">Product Name:</label>
    <select name="removeProduct" id="removeProduct">
        <option value="peaches">Peach</option>
        <option value="muffins">Muffin</option>
        <option value="oranges">Orange</option>
        <option value="eggs">Egg</option>
        <option value="bacon">Bacon</option>
        <option value="butter">Butter</option>
        <option value="celery">Celery</option>
    </select>
    <br>
    <button onclick="removeProduct()">Remove from Fridge</button>

    <br>
    <br>

    <a href="/db">Click here to go to the search page</a>

    <!-- <br>
    <br>

    <form class="search" method="get">
      <input class="form-control typeahead tt-query" type="text" name="searchParam" placeholder="Search">
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <% results.forEach(function(r) { %>
      <li><%= r.prod_id %> - <%= r.prod_name %></li>
    <% }); %> -->

  </font>

</body>
</html>
