<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href= "/stylesheets/search.css">
<script src="/client.js"></script>
<title>Main Page</title>
</head>
<body>
  <div class="container">
  <font color = #ffffff >

  	

   
     <div class = "search"> 
     	 <span>
            Would you like to add a new product?
         </span>

     <form class="search-box" method="get">
        <input type="text" name="searchParam" class="search-txt" maxlength = "255" placeholder="Search..."/>
        <br>
        <input class="search-btn" type="submit" value="">
   
      </form>
      <ul>
        <% searchresults.forEach(function(r) { %>
          <li>ID: <%= r.prod_id%></li>
          <li>Name: <%= r.prod_name%></li>
          <li>Type: <%= r.type%></li>
          <li>Lifespan: <%= r.lifetime%></li>
        <% }); %>
      </ul>
      
 	 </div>
    
  
  <h1> Hello User!</h1>


          <h3>Today's Date: <span id="datetime"></span></h3>
          <script>
              var dt = new Date();
              document.getElementById("datetime").innerHTML = dt.toLocaleString();</script>

  <h2>Here's what is in your fridge: </h2>
  <table  border = 2 style="width:50%">
    <tr>
      <th>Products</th>
      <th>Type</th>
      <th>Date of Expiry</th>
      <th>Quantity</th>
    </tr>
    <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.prod_name%></td>
        <td><%= r.type%></td>
        <td><%= r.exp_dt%></td>
        <td><%= r.qty%></td>
      </tr>
    <% }); %>
  </table>

  <button type="button" class="button">Find out what's expiring soon -></button>

  <h2>Add Products to the Fridge</h2>

    <label for="name">Product Name:</label>
    <select name="addProduct" id="addProduct">
        <option value="peaches">Peach</option>
        <option value="muffins">Muffin</option>
        <option value="oranges">Orange</option>
        <option value="eggs">Egg</option>
        <option value="bacon">Bacon</option>
        <option value="butter">Butter</option>
        <option value="celery">Celery</option>
    </select>
    <br>
    <label for="name">Quantity</label>
    <input type="number" id="quantity"/> 
    <br>
    <button onclick="addProduct()">Add to Fridge</button>

    <br>
    <br>

    <h2>Remove Products from the Fridge</h2>

    <label for="name">Product Name:</label>
    <select name="removeProduct" id="removeProduct">
        <option value="peaches">Peach</option>
        <option value="muffins">Muffin</option>
        <option value="oranges">Orange</option>
        <option value="eggs">Egg</option>
        <option value="bacon">Bacon</option>
        <option value="butter">Butter</option>
        <option value="celery">Celery</option>
    </select>
    <br>
    <button onclick="removeProduct()">Remove from Fridge</button>

    <br>
    <br>
    
    <a href="/searchProduct">Click here to go to the search page</a>



  </font>

</body>
</html>
